<header>
	<nav class="top-nav z-depth-3">
		<div class="container">
			<div class="nav-wrapper">
				<a [router-link]="['/Home']" class="page-title">
					<!--<img style="width: 35px" src="app/images/AngularMeetUp.svg" />-->
					<span>AngularJS CPH</span>
				</a>
				<span *ng-if="isAuthenticate()" class="hide-on-small-only">with {{getProfile().displayName}}</span>
				<ul id="nav-mobile" class="right">
					<li><a [router-link]="['/Project']" class="page-title" *ng-if="isAuthenticate()">Projects</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<main class="fill-parent" style="overflow: auto;">
	<div class="container">
		<div class="col">
			<router-outlet></router-outlet>
			<!--<a class="btn-floating btn-large waves-effect waves-light red right" [router-link]="['/Winner']" ><i class="material-icons">add</i></a>-->
		</div>
	</div>

</main>

<footer>
	<!--<li><a [router-link]="['/Home']" class="page-title">Home</a></li>-->
</footer>